node_modules/
.expo/
dist/
web-build/
ios/
android/

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem
*.keystore
!debug.keystore

*.orig.*
*.jks
*.p8
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata

.env*.local
